@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.title</h2>
<hr />
<table id="movies" class="table table-bordered">
    <thead>
        <tr>
            <td>Movie Name</td>
            <td>Genre</td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts{

    <script>

        $(document).ready(function () {

            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "genre.name"
                    }
                ]
            });
        });

    </script>

}

